*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --color: white;
    --bgColor: black;
    --hoverColor: rgb(143, 126, 29);
    --titleColor: rgb(216, 195, 77);
    --menuSelected: rgba(255, 255, 255, 0.2);
    --switchColor: rgb(19, 18, 18);

}
.lightTheme{
    --color: black;
    --bgColor: rgb(196, 196, 196);
    --hoverColor: rgb(37, 33, 8);
    --titleColor: rgb(109, 97, 21);
    --menuSelected : rgba(15, 11, 11, 0.2);
    --switchColor: rgb(139, 137, 137);
}
.switch{
    position: sticky;
    top: -2%;
    background-color: var(--switchColor);
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}
.switch button{
    background-color: transparent;
    border-left: solid 1px var(--color);
    border-right: solid 1px var(--color);
    border-top: none;
    border-bottom: none;
    padding: 10px;
    color: var(--color);
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
}
.switch button:hover{
    color: var(--hoverColor);
}
.cmntSection{
    display: none;
}
.cmntSection form{
    position: sticky;
    top: 3%;
    background-color: var(--switchColor);
}
.cmntInput{
    width: 80%;
    background-color: transparent;
    padding: 10px;
    color: var(--color);
    border: 1px solid var(--color);
}
.cmntInput::placeholder{
    color: var(--color);
}
.cmntSubmit{
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.2);
    color: var(--color);
}
hr{
    border: 1px solid var(--color);
}
#book{
    width: 172px;
}
#icon{
    float: right;
    cursor: pointer;
}
p{
    color: var(--color);
}
.main{
    height: 100vh;
    position: relative;
    z-index: 2;
}
.mainInfo{
    border: 1px var(--color) solid;
    border-radius: 10px;
    padding: 15px;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    overflow: scroll;
    width: 500px;
    max-height: 91%;
    float: left;
    margin: 2%;
}
.mainCover{
    display: block;
    margin: auto;
    width: 40%;
}
.mainInfo p{
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.question{
    color: rgb(216, 195, 77);
    font-family: 'Lucida Handwriting', cursive;
    font-size: 20px;
}
.title{
    color: var(--titleColor);
    font-family: 'Lucida Handwriting', cursive;
    font-size: 30px;
}
.ranks{
    width: 70%;
    text-align: center;
}
.review{
    text-align: left;
    width: 70%;
}
.signature{
    float: right;
}
.flashCard{
    color: var(--color);
    border: 1px var(--color) solid;
    padding: 15px;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
    transition: 0.5s;
}
.flashCard:hover{
    scale: 1.07;
    box-shadow: 2px 4px 8px rgb(216, 195, 77);
}
.flashCard img{
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    width: 40%;
}
.flashCard img:hover{
    filter: contrast(1.15);
}
.flashCard h1 a{
    font-family: 'Lucida Handwriting', cursive;
    color: rgb(216, 195, 77);
}.flashCard h1 a:hover{
    color: var(--hoverColor);
}
.flashCard::after{
    content: "";
    clear: both;
    display: table;
}

.sideInfo{
    border: 1px var(--color) solid;
    border-radius: 10px;
    padding: 15px;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--color);
    position: -webkit-sticky; /* sticky for safari */
    position: sticky;
    top: 0px;
    width: 200px;
    max-height: 50%;
    overflow: scroll;
    float: left;
    margin: 2%;
    line-height: 30px;
}
.sideInfo a, .linkInRank{
    font-family: 'Lucida Handwriting', cursive;
    color: rgb(216, 195, 77);
}
.sideInfo a:hover, .linkInRank:hover{
    color: var(--hoverColor);
}
.logo{
    z-index: -1;
    position: relative;
}
.logo img{
    display: block;
    margin: auto;
    position: relative;
    top: 25px;
    width: 200px;
    height: 200px;
}
.intro{
    border: 1px var(--color) solid;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    width: 80%;
    overflow-x: auto;
    z-index: 3;
    position: relative;
}
.intro::after{
    content: "";
    clear: both;
    display: table;
}
.intro img{
    width: 150px;
    float: left;
    margin-right: 20px;
}
.intro h2{
    color: var(--color);
}
.intro a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(216, 195, 77);
    font-family: 'Lucida Handwriting', cursive;
}
.intro a:hover{
    color: var(--hoverColor);
}
.awards{ 
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80%;
    display: block;
    margin: auto;
}
.awards::after{
    content: "";
    clear: both;
    display: table;
}
.awards img{
    max-width: 40%;
    min-width: 12%;
    margin-right: 20px;
}
.poster{
    border: 1px solid rgb(63, 55, 9);
}
body{
    background: url(images/d.png) no-repeat;
    background-color: var(--bgColor);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    transition: 1s;
}
nav{
    z-index: 11;
    position: fixed;
    left: -200px;
    width: 250px;
    background: transparent;
    backdrop-filter: blur(10px);
    height: 100%;
    transition: all 0.5s ease;
}
nav .head{
    line-height: 70px;
    color: var(--color);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    user-select: none;
}
nav ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    color: var(--color);
    font-size: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid black;
    transition: .4s;
}
nav ul a:hover{
    padding-left: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}
nav ul i{
    padding-right: 15px;
    float: right;
    position: relative;
    top: 20px;
}
nav ul #selected{
    background-color: var(--menuSelected);
}
#check{
    display: none;
}
label #open, label #close{
    position: fixed;
    top: 16px;
    cursor: pointer;
    border-radius: 10px;
}
label #open{
    z-index: 1111;
    font-size: 30px;
    color: var(--color);
    padding: 6px 12px;
    transition: all 0.5s;
}
label #close{
    z-index: 1111;
    left: -195px;
    font-size: 30px;
    color: var(--color);
    padding: 4px 9px;
    transition: all 0.5s;
}
#check:checked ~ nav{
    left: 0;
}
#check:checked ~ label #open{
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ nav ul i{
    float: left;
}
#check:checked ~ label #close{
    left: 0px;
}

.content{
    margin-left: 60px;
}
.header{
    color: var(--color);
    text-align: center;
    line-height: 50px;
    width: 80%;
    margin-right: 15px;
    margin: auto;
}
#orders {
    color: var(--color);
    border: 1px solid black;
    text-align: center;
    display: table; 
    width: 80%;
    margin: 0 auto;
}

#orders tr td, #orders tr th {
    border: 1px solid var(--color);
    padding-top: 1%;
    padding-bottom: 1%;
}
#buyForm{
    color: var(--color);
}
#squ{
    padding: 5%;
    margin: auto;
    display: table;
    border: 1px solid var(--color);
}
[class*="col-"]{
    float: left;
    padding: 15px;
}
/* For Mobile default option in case none of the below sized are used */
[class*="col-"]{
    width: 85%;
}

/* Tablet size control */
@media only screen and (min-width: 600px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
}

/* Desktop size control */
@media only screen and (min-width: 800px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}